<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
{% if page.tags %}<meta name="keywords" content="{{ page.tags | join(', ') }}">{% endif %}

{% for meta in page.metadata %}
    <meta {% if meta.name %}name="{{ meta.name }}" {% endif %}{% if meta.http_equiv %}http-equiv="{{ meta.http_equiv }}" {% endif %}{% if meta.charset %}charset="{{ meta.charset }}" {% endif %}{% if meta.property %}property="{{ meta.property }}" {% endif %}{% if meta.content %}content="{{ meta.content }}" {% endif %}/>
{% endfor %}
<meta http-equiv="cleartype" content="on">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="shortcut icon" href="{{ theme_url }}/favicon.ico">
<!-- 32x32 -->
<link rel="shortcut icon" href="{{ theme_url }}/favicon.png">
<!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
<link rel="apple-touch-icon-precomposed" href="{{ theme_url }}/images/apple-touch-icon-precomposed.png">
<!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ theme_url }}/images/apple-touch-icon-72x72-precomposed.png">
<!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ theme_url }}/images/apple-touch-icon-114x114-precomposed.png">
<!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ theme_url }}/images/apple-touch-icon-144x144-precomposed.png">

{% block stylesheets %}
{% do assets.addCss('theme://assets/css/main.css') %}
{% do assets.addCss('//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic') %}
{% endblock %}
{{ assets.css() }}

{% block javascripts %}
  {% do assets.addJs('jquery',101) %}
  {% do assets.addJs('theme://assets/js/vendor/modernizr-2.6.2.custom.min.js',100) %}
  {% do assets.addJs('theme://assets/js/scripts.min.js') %}
{% endblock %}
{{ assets.js() }}


<style type="text/css">
{% if page.header.image.background or site.background %}
{% set background %}{% if page.header.image.background %}{{ page.header.image.background }}{% else %}{{ site.background }}{% endif %}{% endset %}
body {background-image:url({{ page.media[page.header.image.background].url }});}
{% endif %}
.phpdebugbar p code, .phpdebugbar li code { white-space: pre;}
</style>


