{% if related_pages %}
    <div class="read-more">
        <div class="read-more-header">
            <a href="{{ page.nextSibling.url }}" class="read-more-btn">Read More</a>
        </div><!-- /.read-more-header -->
        <div class="read-more-content">
            {% for related_path, score in related_pages|slice(0,1) %}
                {% set related = grav['pages'].get(related_path) %}
                {% if related %}
                    <h3><a href="{{ related.url }}" title="{{ related.title }}">{{ related.title }}</a></h3>
                    <p>{% if related.header.description %}{{ related.header.description }}{% else %}{{ related.content | striptags | truncate(140) }}&hellip;{% endif %} <a href="{{ related.url }}">Continue reading</a></p>
                {% endif %}
            {% endfor %}
        </div>
        <div class="read-more-list">
            {% for related_path, score in related_pages|slice(1,2) %}
                {% set related = grav['pages'].get(related_path) %}
                {% if related %}
                    <div class="list-item">
                        <h4><a href="{{ related.url }}" title="{{ related.title }}">{{ related.title }}</a></h4>
                        <span>Published on {{ related.date | date("F d, Y") }}</span>
                    </div><!-- /.list-item -->
                {% endif %}
            {% endfor %}
        </div><!-- /.read-more-list -->
    </div><!-- /.read-more -->
{% endif %}
