{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}
	{% set base_url = page.url %}
    {% set feed_url = base_url %}

    {% if base_url == '/' %}
        {% set base_url = '' %}
    {% endif %}

    {% if base_url == base_url_relative %}
        {% set feed_url = base_url~'/'~page.slug %}
    {% endif  %}

	{% block content %}

        {% for post in collection %}
            <article class="hentry">
              <header>
                <div class="entry-meta">
                  <span class="entry-date date published updated"><time datetime="{{ post.date|date }}"><a href="{{ post.url }}">{{ post.date|date("F d, Y") }}</a></time></span><span class="author vcard"><span class="fn"><a href="{{ base_url_relative }}/about" title="About {{ site.owner.name }}">{{ site.owner.name }}</a></span></span>{# {% if site.disqus_shortname and post.comments %}&nbsp; &bull; &nbsp;<span class="entry-comments"><a href="{{ base_url_relative }}{{ post.url }}#disqus_thread">Comment</a></span>{% endif %} #}
                  {% if config.plugins.readingtime.enabled %}
                  <span class="entry-reading-time pull-right">
                    <i class="fa fa-clock-o"></i>
                    Reading time ~{{ post.content|readingtime({'round':'minutes'}) }}
                  </span><!-- /.entry-reading-time -->
                  {% endif %}
                </div><!-- /.entry-meta -->
                {% if post.header.link %}
                  <h1 class="entry-title"><a href="{{ post.url }}" rel="bookmark" title="{{ post.title }}"><i class="fa fa-angle-double-right"></i></a> <a href="{{ post.header.link }}">{{ post.title }}</a></h1>
                {% else %}
                  <h1 class="entry-title"><a href="{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h1>
                {% endif %}
              </header>
              <div class="entry-content">
                {{ post.content }}
              </div><!-- /.entry-content -->
            </article><!-- /.hentry -->
        {% endfor %}

        {% if config.plugins.pagination.enabled and collection.params.pagination %}
        {% include 'partials/pagination.html.twig' with {'pagination':collection.params.pagination} %}
        {% endif %}

	{% endblock %}

{% endembed %}


